#profile a,
.featurette-icon {
  color: #000000 !important;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark .featurette-icon,
.dark .page-subtitle,
.dark #profile a {
  color: #ffffff !important;
}

.dark .home-section-bg,
.dark .page-footer,
.article .dark,
.dark #navbar-main,
body.dark,
.dark #search,
.dark .search-header {
  background: hsl(210deg, 30%, 8%) !important;
}

.dark .card,
.dark .form-control,
.dropdown-menu,
.dropdown-menu > a,
.dark #search-query {
  background: hsl(210deg, 22%, 15%) !important;
}

.dark mark,
.dark .mark {
  background-color: #8797ebd1;
}

mark,
.mark {
  background-color: #3f51b56e;
}

.dark a,
.dark .btn-outline-primary,
a.nav-link.active > span {
  color: rgb(142, 159, 248);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
