#profile a {
    color: #000000
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #ffffff
}

.dark span {
    color: #ffffff
}

.dark .page-subtitle {
    color: #ffffff
}

.dark a {
    color: rgb(142, 159, 248)
}

.dark i {
    color: rgb(142, 159, 248)
}